.section-header .text-list-update {
    color: #56ccf2 !important;
}
.section-header .text-list-history {
    color: #56ccf2 !important;
}
h2.section-header {
    color: #f18121;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 30px;
    margin-top: 10px;
}
.section-header p {
    font-size: 20px !important;
    font-weight: 600;
    margin: 0px;
}
.section-header .text-list-hot {
    color: #ff2853;
}